.aa{position: relative;
	top: -615px;
	height: 50px;
	width: 200px;
	background-color: transparent;
	left:-205px ;}

.bb{height: 50px;
	width: 200px;
	background-color: yellow;
	position: relative;
	top: -920px;
	left: 285px;
	background-color: transparent;}

.cc{height: 50px;
	width: 200px;
	position: relative;
	top: -910px;
	left: 95px;
	background-color: transparent;

}

.ff{height: 70px;
	width: 400px;
	background-color: transparent;
	position: relative;
	top: -1420px;
	left: 250px;
	font-size: 27px;


}